*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************************************** GENERALITES ***********************************/
/* (body, main) */


body {
    width: 100%;
    margin: 0 auto;
    background: #F1FFFB;
    font-family: 'Sofia Sans';
    background-image: url(../img/logos/logo-background.png);
    background-repeat: none;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: top right;
}

.bg-body-img-small {
    background-size: 40%;
}

 
/**************************************** TEXTES GENERAUX *****************************/


/************ TITLES AND TEXT ************/

h1 {
    font-size: 3.812rem; 
    text-transform: lowercase;
}

h2{
    font-size: 3.062rem;    
}

h3 {
    font-size: 2.438rem;
}


h4 {
    font-size: 1.938rem;

}

h5 {
    font-size: 1.562rem;
    font-weight: 500;
}

p {
    color: var(--00_tokens-text-colors-primary-text);
    margin-bottom: 0;
    font-size: 1.25rem; /* 20px */
}

  
  
.text-big {
    font-size: 1.25rem; /* 20px */
}
  

.text-medium {
    font-size: 1rem; /* 16px */
}
  
.text-small {
    font-size: 0.8125rem; /* 13px */
}
  
.text-xsmall {
    font-size: 0.625rem; /* 10px */
}

.bold {
    font-weight: 700;
}


.mt-200 {
    margin-top: 200px;
}

.mb-150 {
    margin-bottom: 150px;
}








/************************************* buttons, borders  ********************************************/


/************ Buttons ************/
.btn-small .icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 4px;
}
 
  .btn-small {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    height: 44px;
    border-radius: 5px;
    background: var(--background-colors-secondary-background, #10224D);
    color: var(--00_tokens-text-colors-invert-text);
    text-decoration: none;
    border: 2px solid transparent;
 }

  
  /* Hover Button */
  .btn-small:hover {
    border-color: var(--00_tokens-border-colors-secondary-border); 
    color: var(--00_tokens-text-colors-secondary-text, #10224D);
    background-color: var(--00_tokens-background-colors-light-background);
  }
  
  /* only different incons */
  
  /* icon-more */
  .icon-more {
    background-image: url(../img/icons/state=link\,\ size=S\,\ color=white.svg);
  }
  .btn-small:hover .icon-more {
    background-image: url(../img/icons/state=link\,\ size=S\,\ color=brandcolor.svg);
  }
  
  /* icon-contact */
  .icon-contact {
    background-image: url(../img/icons/state=pen\,\ size=S\,\ color=white.svg);
  }
  .btn-small:hover .icon-contact {
    background-image: url(../img/icons/state=pen\,\ size=S\,\ color=brandcolor.svg);
  }
  


/************ Borders ************/

/* border-bottom - animation */

.border-bottom {
    border-bottom: 2px var(--00_tokens-border-colors-primary-border) solid;
    padding-bottom: 1.2rem; /* Abstand zwischen Text und Linie */
    display: block;
}

.border-bottom {
    position: relative;
    display: block;
    padding-bottom: 8px;
    overflow: hidden;
  
    /* start for Slide/Fade */
    opacity: 0;
    transform: translateX(40px); 
    transition: transition 0.6s ease-out, transform 0.6s ease-out;
    transition-delay: 0.1s;
}
  
.border-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: var(--00_tokens-border-colors-primary-border);
    transition: width 0.6s ease-out;
    transition-delay: 0.3s;
  }
  
/* active state */
.border-bottom.animate {
    opacity: 1;
    transform: translateY(0);
}
  
.border-bottom.animate::after {
    width: 100%;
}





/* -------- Nav bar ------ */

.navbar a {
    color: var(--00_tokens-text-colors-secondary-text);
    font-size: 1.25rem;
 }

.navbar a:hover {
    text-decoration: underline;
}


nav {

   background: var(--gradient---pale-aqua-snow, linear-gradient(0deg, var(--snow-transparancy-1000-snow-10, rgba(246, 246, 246, 0.10)) 0%, var(--pale-aqua-transparancy-1000-pale-aqua-70, rgba(198, 223, 217, 0.90)) 100%));
}
  
.navbar-toggler {
 border: none !important;
 color: var(--00_tokens-text-colors-secondary-text) !important;
}


/* Custom style for the navbar-toggler-icon */
.navbar-toggler-icon {
    background-color: transparent !important;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    /* Change the color using filter */
    filter: invert(22%) sepia(80%) saturate(499%) hue-rotate(179deg) brightness(100%) contrast(100%);

}


/* -------- HEADER ------ */
/* ---------------------- */

header h1 {
    color: var(--00_tokens-text-colors-primary-text);
}


  
header .container-fluid img {
    width: 100%;
}



.pulse {
    animation: pulseAnim 6s ease-in-out 2;
    transform-origin: center;
}

@keyframes pulseAnim {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.08);
      opacity: 0.8;
    }
}

.hexagon-bg-image { animation-delay: 1s; }



/* -------- CONTENT ------ */
/* ----------------------- */



/* _section - socialproof  ***********************************  */

#socialproof {
    width: 100%;
    margin: 0 auto;
    font-family: 'Sofia Sans';
    background-image: url(../img/visuals_illustrations/bg_hexagone-group-3-left.svg);
    background-repeat: none;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 50px 0; 
}




/* CARD event ***********************************  */

 .card-carrousel {
    border-radius: 1rem; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 0 0 0;
}

.bg-img-1 { 
    background-image: url('../img/visuals_illustrations/background-image-01.jpg'); 
}

.bg-img-2 { 
    background-image: url('../img/visuals_illustrations/background-image-02.jpg'); 
}

.bg-img-3 { 
    background-image: url('../img/visuals_illustrations/background-image-03.jpg'); 
}


.card-carrousel .cardtext {
    background: rgba(255, 255, 255, 0.1);      /* halbtransparent */
    backdrop-filter: blur(10px);              /* blur Effekt */
    -webkit-backdrop-filter: blur(10px);      /* für Safari */
    border-radius: 0 0 1rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

 
.card-carrousel .cardtext h5,
.card-carrousel .cardtext p {
    /* hier gemeinsame Eigenschaften rein */
    color: var(--00_tokens-text-colors-invert-text);
}


/* _section - CTA  ***********************************  */
 
#CTA {
    background:#C3E0E2;
    margin: 40px 0;
    padding: 50px 0;
    margin: 80px 0;
}

#CTA div div div {
    border-top: 2px solid #3998AC;
}


/* _section - partner  ***********************************  */

.partner-logo {
    max-height: 120px;
    width: auto;
    object-fit: contain;
}


/* _section - besoin  ***********************************  */


#besoin {
    background: var(--background-opacity-bg-tertiary-50, rgba(198, 223, 217, 0.50));
    padding: 40px 0px; 
    margin-top: 120px;
}


/* _section - interface  - hexagone - background images ***********************************  */

#interface {
    background-image: url(../img/visuals_illustrations/bg_hexagone-group-3-left.svg);
    background-repeat: none;
    background-size: fit;
    background-repeat: no-repeat;
    background-position: top left;
    /* padding: 200px 0px;  */
}   

.bg-hex-group-right {
    background-image: url(../img/visuals_illustrations/bg-hexagone-group-3-right.svg);
    background-repeat: none;
    background-size: fit;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.bg-hex-group-middle {
    background-image: url(../img/logos/logo-background-small_center.svg);
    background-repeat: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 240px bottom;
    background-size: 35%;
}

.hexagon-shape {
    width: 440px;
    height: 508px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;  
    justify-content: start;  
    align-items: stretch; /* volle Breite erlauben */
    position: relative;
}


.bg-img-td {
    background-image: url(../img/visuals_illustrations/bg_hexagon_top-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.bg-img-bu {
    background-image: url(../img/visuals_illustrations/bg_hexagon_bottom-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.top-down-box {
    width: 75%; 
    padding: 10px 30px;
    margin: 0 auto;
}



.hexagon-shape-big {
    width: 671px;
    height: 775px;
    background-image: url(../img/visuals_illustrations/bg_hexagon_hyperquest.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    flex-shrink: 0;
    display: flex;
    flex-direction: column; /* wichtig! */
    justify-content: start;  
    align-items: stretch; /* volle Breite erlauben */
    position: relative;
}


.hexagon-shape-big h4,
.hexagon-shape-big p {
    color: var(--00_tokens-text-colors-invert-text);
}


.moved-up {
    position: relative;
    top: -150px;
  }
  


/* ---- hyperquest shape ---- */


.hexagon-shape-hyperquest {
    position: relative;
    width: 100%;
    height: 100%;
}
  

.hex-box-left-top {
    width: 175px; 
    height: 201px; 
    left: 15px; 
    top: 5px; 
    position: absolute;
    background-image: url(../img/visuals_illustrations/bg-hexagone-small-bottom-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding: 30px 20px;
    color: var(--00_tokens-text-colors-primary-text);
}


.hex-box-middle-top {
    width: 175px; 
    height: 201px; 
    left: 233px; 
    top: 5px; 
    position: absolute;
    background-image: url(../img/visuals_illustrations/bg-hexagone-small-top-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding: 30px 20px;
}

.hex-box-middle-top p {
    color: var(--00_tokens-text-colors-primary-text);
}


.hex-box-right-top {
    width: 185px; 
    height: 201px; 
    right: 15px; 
    top: 5px; 
    position: absolute;
    background-image: url(../img/visuals_illustrations/bg-hexagone-small-top-down_bottom-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding: 30px 20px;
}


.hex-box-right-bottom {
    width: 175px; 
    height: 201px; 
    right: 18px; 
    top: 220px; 
    position: absolute; 
    background-image: url(../img/visuals_illustrations/bg-hexagone-small-bottom-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding: 40px 10px;
    color: var(--00_tokens-text-colors-primary-text);
}



.hex-box-right-bottom p,
.hex-box-left-top p,
.hex-box-middle-top p,
.hex-box-right-top p {
    color: var(--00_tokens-text-colors-primary-text);
    line-height:1.1;
}


/* arrows  */
.arrow-big-left-to-top {
    width: 336px; 
    height: 122px; 
    left: 92px; 
    bottom: 210px; 
    position: absolute;
    background-image: url(../img/visuals_illustrations/arrows/arrow-left_big-paleaqua.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding: 60px 25px;
}

.arrow-small-right-left {
    width: 33px;
    height: 33px;
    left: 182px; 
    top: 80px; 
    position: absolute;
    background-image: url(../img/visuals_illustrations/arrows/arrow-small-right-paleaqua.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
/*     padding: 0px 25px; */
}

.arrow-small-right-right {
    width: 33px;
    height: 33px;
    left: 400px; 
    top: 80px; 
    position: absolute;
    background-image: url(../img/visuals_illustrations/arrows/arrow-small-right-articbay.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.arrow-small-right-down {
    width: 33px;
    height: 45px;
    right: 90px; 
    top: 210px; 
    position: absolute;
    background-image: url(../img/visuals_illustrations/arrows/arrow-small-down-paleaqua.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.min-height {
    min-height: 13rem;
}


#solution .container-fluid {
    background: var(--background-opacity-bg-tertiary-50, rgba(198, 223, 217, 0.50));
    margin-bottom: 200px;
}

.interface-solution-card {
/*     width: 50%;  */
    padding: 20px 20px;
    border-radius: var(--units-base-unit-010, 10px);
    background: var(--background-opacity-bg-tertiary-50, rgba(198, 223, 217, 0.50));
    backdrop-filter: blur(12.5px);
    margin-bottom: 20px;
}


.app-image {
    width: 100%; 
    height: 100%; 
    border-radius: 11px;
    object-fit: contain;
}

.moved-left {
    transform: translateY(100px); /* ragt 40px nach unten raus */
    position: relative;
    z-index: 0;
}


.interface-column {
    transform: translateX(60px); /* schiebt sie leicht über das Bild */
    position: relative;
    z-index: 2;
}




/* -------- FOOTER ------ */
/* ----------------------- */

footer {
    color: var(--00_tokens-text-colors-invert-text);
    background: var(--00_tokens-background-colors-secondary-background);
    padding: 60px 40px;
}

footer p {
    color:#ffffff;
}


footer a {
    display: block;
    text-decoration: none;
    color: inherit;
}
  
footer a:hover {
    text-decoration: underline;
}
  


/************************************* Media Query *****************************/
/************************************* Media Query *****************************/
/************************************* Media Query *****************************/
 
/* ab lg (≥ 992px) soll moved-left desaktiviert werden */
@media (max-width: 992px) {
 
    .moved-left {
        transform: translateY(0px); /* ragt 40px nach unten raus */
    }


    .interface-column {
        transform: translateX(0px); /* schiebt sie leicht über das Bild */
    }

    .mt-200 {
        margin-top: 50px;
    }

}

@media (min-width: 992px) {
    .mb-150 {
        margin-bottom: 0px;
    }


}
 
@media (max-width: 768px) {

    #interface img.logo-small {
        padding-top: 50px;
        padding-bottom: 0px;
    }
        

    .hex-box-left-top {
        width: 145px; 
        height: 171px; 
        top: 0px; 
        padding: 20px 5px;
    }



    .hex-box-middle-top {
        width: 145px; 
        height: 171px; 
        left: 183px;
        top: 0px;  
        padding: 20px 5px;
    }
    

    
    .hex-box-right-top {
        width: 155px; 
        height: 171px; 
        right: 15px; 
        top: 0px; 
        padding: 20px 5px;

    }
    
    
    .hex-box-right-bottom {
        width: 145px; 
        height: 171px; 
        right: 19px; 
        top: 170px; 
        padding: 20px 5px;
    }


    .hex-box-right-bottom p,
    .hex-box-left-top p,
    .hex-box-middle-top p,
    .hex-box-right-top p {
       font-size: 0.9rem;
    }
    


    /* arrows  */
    .arrow-big-left-to-top {
        width: 236px; 
        left: 70px; 
        bottom: 210px; 
        padding: 20px 20px;
    }

    .arrow-small-right-left {
        left: 145px; 
        top: 70px; 
    }

    .arrow-small-right-right {
        left: 320px; 
        top: 70px;  

    }

    .arrow-small-right-down {
        right: 74px; 
        top: 140px; 
    
    }

  }

@media (max-width: 575.98px) {
    body {
      font-size: 0.9rem; /* z. B. 90% der Standardgröße */
    }
  
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.3rem; }
    p, li, span {
      font-size: 0.9rem;
     }


    #interface img.logo-small {
        padding-top: 0px !important;
        padding-bottom: 0px;
    }

    .bg-img-td {
        position: relative;
        background: var(--01_primitives-colors-paleaqua-transparancy100-0-paleaqua50);
        padding: 0px 0;
        border-radius: 8px;
    }

    .bg-img-bu {
        position: relative;
        background: var(--01_primitives-colors-arcticbay-transparancy100-0-arcticbay50);
        padding: 20px 0;
        border-radius: 8px;
    }

    .hexagon-shape-big {
        position: relative;
        background: var(--00_tokens-background-colors-secondary-background);
        padding: 0px 0;
        margin-top: 60px;
        border-radius: 0;
    }

    .bg-hex-group-middle {
        background-image: none;
    }

    #interface img.logo-small {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    
    .hex-box-left-top {
        top: -10px;
        left: 40%;
        transform: translateX(-50%);
    }

    .hex-box-middle-top {
        padding: 20px 5px;
        top: 90px;  
        left: 70%;
        transform: translateX(-50%);
    }
    
    .hex-box-right-top {
        right: 15px; 
        top: 190px;  
        left: 40%;
        transform: translateX(-50%);
        padding: 20px 5px;

    }
    
    
    .hex-box-right-bottom {
        top: 300px; 
        left: 70%;
        transform: translateX(-50%);
        padding: 20px 5px;
    }

    /* arrows  */
    .arrow-big-left-to-top {
        width: 236px; 
        left: 40%;
        transform: translateX(-50%);
        padding: 20px 20px;
        top: 440px; 
    }

    .arrow-small-right-left {
        display: none;
    }

    .arrow-small-right-right {
        display: none;
    }

    .arrow-small-right-down {
        display: none;
    }

}

    














 